#block1 {
  color: white;
  text-align: center;
  background-color: #609497;
  border-style: solid solid solid solid;
  border-color: #4D797B;
}

#aboutme {
  float: left;
  width: 45%;
  padding: 40px;
  padding-left:70px;
  padding-right: 70px;
  height: 475px;
  margin:30px;
  margin-right:30px;
  margin-bottom: 70px;
  background-color: #609497;
  line-height:2;
}
#block2 {
  color: black;
  text-align: center;
  text-indent: 30px;
  background-color: lightblue;
}
img {
  position: absolute;
  right: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  border: 1px solid;
  border-radius: 25px;
  padding: 10px;
}
#block3 {
  float: left;
  padding-left: 80px;
  width: 300px;
  border: 1px solid;
  padding: 10px;
  color: navy;
}
